Name: Graphics
Type: Library
PrecompileLocalHeaders: true
PublicDependencies:
  - Name: Core
  - Name: entt/3.12.2
PublicIncludes:
  - Core.hpp
  - entt/entt.hpp
PrivateDependencies:
  - Name: stb/cci.20220909
  - Name: imgui/1.89.8-docking
  - Name: sfml/2.6.0
  - Name: glfw/3.3.8
