Type: Library
PrecompileLocalHeaders: true
PublicDependencies:
  - Name: Core
  - Name: entt/3.12.2
PublicIncludes:
  - Core.hpp
  - entt/entt.hpp
PrivateDependencies:
  - Name: stb/cci.20230920
    Force: true
  - Name: assimp/5.2.2
  - Name: imgui/1.89.8-docking
  - Name: glew/2.2.0
