Type: Application
PrivateIncludes:
  - LegacyPlatform.hpp
  - LegacyUI.hpp
  - LegacySystem.hpp
PrivateDependencies:
  - Name: LegacyPlatform
  - Name: LegacyUI
  - Name: LegacySystem
  - Name: utils
    Override: true
