Type: Library
PrecompileLocalHeaders: true
PublicDependencies:
  - Name: Graphics
  - Name: Inputs
PrivateDependencies:
  - Name: UI
  - Name: imgui/1.89.8-docking
  - Name: sfml/2.6.0
PublicIncludes:
  - SFML/Window.hpp
  - SFML/Graphics.hpp
  - ThirdParty/imgui-SFML.h
  - Graphics.hpp
  - Inputs.hpp
