Type: Library
PrecompileLocalHeaders: true
PublicDependencies:
  - Name: Graphics
  - Name: InputSubsystem
PrivateDependencies:
  - Name: stb/cci.20220909
  - Name: imgui/1.89.8-docking
  - Name: sfml/2.6.0
PublicIncludes:
  - SFML/Window.hpp
  - SFML/Graphics.hpp
  - ThirdParty/imgui-SFML.h
  - Graphics.hpp
  - InputSubsystem.hpp
